* {
    margin: 0;
    box-sizing: border-box;
  }
  img {
    object-fit: cover;
    max-width: 100%;
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
.Nav{
    background-color: black;
    display: flex;
    flex-flow: row nowrap;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
.Nav-container{

}
.Nav-elements{
    display: flex;
    gap: 2rem;
}
.Nav-link{
    color: rgb(192, 192, 192);
    font-size: 1.1rem;
    text-decoration: none;
}
.Nav-active{
    color: white;
    text-decoration: underline;
}
.Nav-log{

}
.Nav-span{
    color: greenyellow;
    font-weight: bolder;
}
.Nav-ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.Nav-button{
    background-color: red;
    padding: .5rem;
    color: white;
    border-style:none;
    cursor: pointer;
    border-radius: .3125rem;
}
.Login{
  background-color: rgb(88, 86, 86);
  width: 50%;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  text-align: center;
}
.Login-h1{
  color: white;
  margin-bottom: 2rem;
}
.Login-btn{
  background-color: white;
  padding: 1rem;
  border-style: none;
  cursor: pointer;
  font-size: 1.1rem;
}
.Cards-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  
}
.Cards-h1{
  margin-bottom: 2rem;
  text-align: center;
}
.Cards-hero{
  max-width: 16rem;
  border-radius: 10px;
  background-color: rgb(48, 43, 43);
}
.Cards-img{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.Cards-text{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
  
}
.Cards-title{
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
}
.Cards-p{
  color: rgb(160, 160, 160);
}
.Cards-links{
  margin-bottom: 1rem;
  color: red;
}

.Hero-container{
  background-color: rgb(56, 45, 45);
  padding: 2rem;

}
.Hero-cards{
display: flex;
flex-flow: row wrap;
gap: 2rem;
justify-content: center;
align-items: center;

}
.Hero-img{
  border-radius: 1rem;
}
.Hero-text{
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;

}
.Hero-h3{
  font-size: 1.6rem;
  color: rgb(216, 215, 215);
  font-weight: bolder;
  text-transform: uppercase;
}
.Hero-h4{
font-size: 1.3rem;
color: rgb(216, 215, 215);

}
.Hero-p{
  color: rgb(150, 150, 150);

}
.Hero-btn{
  padding: 1rem;
  color: rgb(179, 0, 0);
  cursor: pointer;
  font-size: 1.1rem;
}
@media (max-width: 720px) {
  .Nav-link{
    font-size: 0.9rem;
  }
}